In [153]:
import numpy as np
import pandas as pd

In [155]:
df= pd.read_csv('Task 1.csv')

In [156]:
df.head()

,product_id,factory_id,warehouse_id,shipping_cost,weight,manufacturing_cost,delay_risk,units_shipped,units_returned,avg_rating,units_sold
0,P19,F5,W4,63.25,9.23,89.11,0.28,494,43,2.00,465
1,P8,F5,W1,72.29,7.22,93.99,0.08,805,4,2.29,802
2,P6,F2,W8,NaN,6.77,72.48,0.06,197,38,1.86,182
3,P6,F1,W7,NaN,10.73,103.92,0.54,714,10,1.11,695
4,P9,F3,W3,49.56,14.39,83.86,0.49,961,18,2.45,928

In [157]:
df.shape

(1000000, 11)

In [158]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 11 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   product_id          1000000 non-null  object
 1   factory_id          1000000 non-null  object
 2   warehouse_id        1000000 non-null  object
 3   shipping_cost       990000 non-null   float64
 4   weight              1000000 non-null  float64
 5   manufacturing_cost  1000000 non-null  float64
 6   delay_risk          1000000 non-null  float64
 7   units_shipped       1000000 non-null  int64
 8   units_returned      1000000 non-null  int64
 9   avg_rating          990000 non-null   float64
 10  units_sold          1000000 non-null  int64
dtypes: float64(5), int64(3), object(3)
memory usage: 83.9+ MB

### IN THE PRE PROCESSING I HAVE REMOVED MISSING VALUES AND SCALED THE VALUES

In [164]:
df.dropna(inplace=True)

In [165]:
df.isnull().sum()

product_id            0
factory_id            0
warehouse_id          0
shipping_cost         0
weight                0
manufacturing_cost    0
delay_risk            0
units_shipped         0
units_returned        0
avg_rating            0
units_sold            0
dtype: int64

In [168]:
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

In [188]:
X= df.drop(columns=['product_id','factory_id','warehouse_id'])
Y= df["units_sold"]
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.5)
X_train= scaler.fit_transform(X_train)
X_test= scaler.transform(X_test)

In [189]:
X_train.shape

(490048, 8)

### AFTER SCALING THE DATASET IS CONVERTED TO NUMPY ARRAY SO WE HAVE TO CONVERT IT TO DATA FRAME.

X_train=pd.DataFrame(X_train)
X_test= pd.DataFrame(X_test)
model = Sequential([
    Dense(64, activation='relu', input_shape=(X.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  
])

### I have used xgboost also but the mean was 20 which was not bad coz the units sold is between 200-1000 and there was no change in the code otherthan the algorithm which was neural network now.

In [210]:
model.compile(optimizer='adam',
              loss='mean_squared_error',
              metrics=['accuracy'])
model.fit(X_train, y_train,epochs=1, batch_size=16, validation_split=0.1)
y_pred = model.predict(X_test)
from sklearn.metrics import mean_absolute_error, r2_score
mse = mean_squared_error(y_test, y_pred)

mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Mean Squared Error:", mse)
print("Mean Absolute Error:", mae)
print("R² Score:", r2)

27566/27566 ━━━━━━━━━━━━━━━━━━━━ 102s 4ms/step - accuracy: 6.9620e-07 - loss: 0.1810 - val_accuracy: 0.0000e+00 - val_loss: 0.0010
15315/15315 ━━━━━━━━━━━━━━━━━━━━ 29s 2ms/step
Mean Squared Error: 0.002030552487726753
Mean Absolute Error: 0.017245111222310927
R² Score: 0.9999999403953552